# ==============================================================================
# CloudNativePG Operator
# ==============================================================================
# Kubernetes-native PostgreSQL operator
# ==============================================================================

apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - namespace.yaml
  - repository.yaml
  - release.yaml