# ==============================================================================
# Cluster Issuers (requires cert-manager CRDs)
# ==============================================================================

apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - clusterissuer.yaml
