---
apiVersion: traefik.io/v1alpha1
kind: IngressRouteTCP
metadata:
  name: ducklake-postgres
  namespace: lotus-lake
spec:
  entryPoints:
    - postgres
  routes:
    - match: HostSNI(`*`)
      services:
        - name: ducklake-db-rw
          port: 5432
