# ==============================================================================
# Control Plane Playbook
# ==============================================================================
# Usage: make cp-init
# ==============================================================================

---
- name: Configure Control Plane
  hosts: control_planes
  gather_facts: true
  become: true

  vars_files:
    - ../cluster-config.yaml

  pre_tasks:
    - name: Verify connectivity
      ansible.builtin.ping:

  roles:
    - role: base
    - role: tailscale
    - role: common
    - role: k3s
    - role: cilium
    - role: flux