{
  "groups": {
    "group:admin": {{ acl_admin_emails | to_json }},
    "group:landl-users": {{ acl_landl_user_emails | to_json }}
  },
  "acls": [
    {"action": "accept", "src": ["group:admin"], "dst": ["*:*"]},
    {"action": "accept", "src": ["h-kube"], "dst": ["*:*"]},
    {"action": "accept", "src": ["group:landl-users"], "dst": ["*:80", "*:443", "*:5432"]}
  ]
}
